[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
  email = 93669491+sh4dqwx@users.noreply.github.com
	name = sh4dqwx
