* {
  font-family: "Hypr Font", sans-serif;
  font-size: 13px;
}

window {
  margin: 10px;
  border: 2px solid #010057;
  background-color: #03002e;
  border-radius: 15px;
}

#input {
  margin: 10px;
  border: none;
  color: #ff0000;
  background-color: #010048;
}

#entry {
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  color: #ff0000;
}

#text:selected {
  color: #ff7b7b;
}

#entry:selected {
  color: #ff7b7b;
  background-color: #010057; 
}
